<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dev" class="com.mylab.jmp.spring.simple.beans.Developer"/>

    <bean id="javaDev" class="com.mylab.jmp.spring.simple.beans.Developer">
        <constructor-arg value="John"/>
        <constructor-arg value="Java"/>
        <constructor-arg value="3"/>
        <constructor-arg value="true"/>
    </bean>

    <bean id="intern" class="com.mylab.jmp.spring.simple.beans.Developer">
        <constructor-arg value="Mike"/>
    </bean>

    <bean id="dotNetDev" class="com.mylab.jmp.spring.simple.beans.Developer">
        <constructor-arg value="Peter"/>
        <constructor-arg value="DotNet"/>
        <constructor-arg value="2"/>
        <constructor-arg value="true"/>
    </bean>

    <bean id="hacker" class="com.mylab.jmp.spring.simple.beans.Developer">
        <constructor-arg type="java.lang.Integer" value="15"/>
    </bean>

    <bean id="taxiProject" name="uberTaxi; taxiNuvo, taxiTax" class="com.mylab.jmp.spring.simple.beans.Project">
        <constructor-arg value="taxiNuvo"/>
        <constructor-arg ref="javaDev"/>
    </bean>

</beans>