<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util-4.3.xsd">

    <bean id="initializer" class="com.mylab.jmp.spring.simple.beans.util.BeanInitializer"/>

    <bean id="engineer" abstract="true" init-method="engineerInit"/>

    <bean parent="engineer" id="scalaDev" class="com.mylab.jmp.spring.simple.beans.Developer">
        <property name="name" value="Martin"/>
        <property name="skill" value="Scala"/>
        <property name="level" value="10"/>
        <property name="isCoffeeConsumer" value="false"/>
        <property name="frameworksExperience">
            <map>
                <entry key="Spring" value="2"/>
                <entry key="Elastic" value="3"/>
                <entry key="GWT" value="1"/>
            </map>
        </property>
    </bean>

    <bean parent="engineer" id="javaDev" class="com.mylab.jmp.spring.simple.beans.Developer">
        <property name="name" value="John"/>
        <property name="skill" value="Java"/>
        <property name="level" value="3"/>
        <property name="isCoffeeConsumer" value="true"/>
        <property name="frameworksExperience">
            <map>
                <entry key="Spring" value="2"/>
                <entry key="Hibernate" value="1"/>
                <entry key="Mockito" value="3"/>
            </map>
        </property>
    </bean>

    <bean parent="engineer" id="autoTester" class="com.mylab.jmp.spring.simple.beans.AutomationTester">
        <property name="name" value="Uladzimir"/>
        <property name="skill" value="Python"/>
        <property name="level" value="2"/>
        <property name="framework" value="Django"/>
        <property name="isBro" value="true"/>
    </bean>

    <util:set id="team">
        <ref bean="javaDev"/>
        <ref bean="scalaDev"/>
        <ref bean="autoTester"/>
    </util:set>

    <bean id="manager" class="com.mylab.jmp.spring.simple.beans.Manager">
        <property name="name" value="Dan"/>
        <property name="emailPerHour">
            <util:constant static-field="java.lang.Math.PI"/>
        </property>
        <property name="pool">
            <ref bean="team"/>
        </property>
    </bean>

    <bean id="magazine" class="com.mylab.jmp.spring.simple.beans.Project" init-method="initProject">
        <constructor-arg value="Vogue"/>
        <constructor-arg>
            <list>
                <ref bean="scalaDev"/>
                <ref bean="javaDev"/>
                <ref bean="autoTester"/>
                <ref bean="manager"/>
            </list>
        </constructor-arg>
    </bean>

    <!-- whem the oder matters -->
    <bean id="initializer2" class="com.mylab.jmp.spring.simple.beans.util.BeanInitializer"/>

    <bean id="postProcessor" class="com.mylab.jmp.spring.simple.beans.util.PostProcessor"/>

</beans>